<!doctype html>
<html lang="zh-CN" id="htmlElement" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/assets/manifest.json">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    {% if map_provider == "mapbox" %}
    <link rel="stylesheet" href="/assets/vendor/mapbox-gl.css"
          integrity="sha384-EP/H7vnAWQ5LW9GnEKFrWdLNFs5Ar50IJgtlPCBzA/mZRKZrR+/rMG5kXl5QNyCp">
    {% endif %}

    <meta name="map-provider" content="{{ map_provider }}">

    <meta name="theme-color" content="#4285f4" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/assets/components/home/home.css">
    <link rel="stylesheet" href="/assets/components/main.css">
    <link rel="stylesheet" href="/assets/components/modal.css">
    <link rel="stylesheet" href="/assets/components/navigation/navigation_destination.css">
    <link rel="stylesheet" href="/assets/components/navigation/navigation_keys.css">
    <link rel="stylesheet" href="/assets/components/recordings/dashcam_routes.css">
    <link rel="stylesheet" href="/assets/components/recordings/screen_recordings.css">
    <link rel="stylesheet" href="/assets/components/settings.css">
    <link rel="stylesheet" href="/assets/components/sidebar.css">
    <link rel="stylesheet" href="/assets/components/status_bar.css">
    <link rel="stylesheet" href="/assets/components/tailscale/tailscale.css">
    <link rel="stylesheet" href="/assets/components/tools/doors.css">
    <link rel="stylesheet" href="/assets/components/tools/error_logs.css">
    <link rel="stylesheet" href="/assets/components/tools/speed_limits.css">
    <link rel="stylesheet" href="/assets/components/tools/theme_maker.css">
    <link rel="stylesheet" href="/assets/components/tools/tmux.css">
    <link rel="stylesheet" href="/assets/components/tools/toggles.css">
    <link rel="stylesheet" href="/assets/components/tools/tsk_manager.css">

    <script type="module" src="/assets/components/router.js"></script>
    <script src="/assets/js/snackbar.js"></script>

    {% if map_provider == "amap" %}
    <script src="https://webapi.amap.com/loader.js"></script>
    {% endif %}
    {% if map_provider == "mapbox" %}
    <script src="/assets/vendor/mapbox-gl.js"
            integrity="sha384-t36UwPvJMncroUlXitN3c5+NQnjD2N13wqI3fgAe/JWWczaEZ8cp/Flwh1m/sm8v"></script>
    {% endif %}


    <title>The Pond 控制台</title>
  </head>

  <body>
    <div id="app"></div>
    <!-- Menu button for phone -->
    <div id="menu_button">
      <i class="bi bi-list"></i>
    </div>
    <!-- Snackbar for messages -->
    <div id="snackbar_wrapper"></div>
  </body>

</html>
